@media (max-width: 991px) {

	.page-footer_padding {
	    padding: 20px 0;
	}
}

@media (max-width: 767px) {

	.page-header,
	.page-footer {  
	    text-align: center;
	}

	.page-header_margin-padding {
	    margin: 0 0 80px;
	}

	.promo_margin {
		margin-bottom: 135px;
  }

	.portfolio__title {
		margin: 0 0 30px;
	}
}

@media (max-width: 575px) {	

	.page-header_margin-padding {
		margin: 0 0 50px;
  }

	.promo_margin {
	    margin-bottom: 100px;
	}

	.button {
		display: block;
		width: 100%;		
	}

}

@media (max-width: 557px) {

	.page-header_margin-padding {
	    margin: 0 0 155px;
	    padding: 30px 0 0;
	}

	.page-header__email,
	.page-header__phone {
	    margin-left: 16px;
	}

	.page-header_margin-padding {
	    margin: 0 0 50px;
	}

	.page-footer__email,
	.page-footer__phone {
		margin-left: 16px;
	}
}

@media (max-width: 454px) {
	.page-header__container,
	.page-footer__container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
