@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), 
		  url("../fonts/Montserrat-Regular.woff") format("woff"), 
		  url("../fonts/Montserrat-Regular.ttf") format("truetype"), 
		  url("../fonts/Montserrat-Regular.eot?") format("eot"),
		  url("../fonts/Montserrat-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
 }

 @font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), 
		  url("../fonts/Montserrat-Medium.woff") format("woff"), 
		  url("../fonts/Montserrat-Medium.ttf") format("truetype"), 
		  url("../fonts/Montserrat-Medium.eot?") format("eot"),
		  url("../fonts/Montserrat-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
 }

 @font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), 
		  url("../fonts/Montserrat-Bold.woff") format("woff"), 
		  url("../fonts/Montserrat-Bold.ttf") format("truetype"), 
		  url("../fonts/Montserrat-Bold.eot?") format("eot"),
		  url("../fonts/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
 }

 @font-face {
	font-family: "Old Standard TT";
	font-display: swap;
	src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"), 
		  url("../fonts/OldStandardTT-Regular.woff") format("woff"), 
		  url("../fonts/OldStandardTT-Regular.ttf") format("truetype"), 
		  url("../fonts/OldStandardTT-Regular.eot?") format("eot"),
		  url("../fonts/OldStandardTT-Regular.svg") format("svg");
	font-weight: 700;
	font-style: normal;
 }

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;    
    line-height: 32px;
	 font-weight: 400;
    color: #222222;    
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.page-header__container,
.promo__container,
.intro__container,
.portfolio__container,
.page-footer__container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0px 20px;
}

.page-header__container,
.page-footer__container {
	display: -webkit-box;
   display: -ms-flexbox;
   display: flex;	
	-webkit-box-pack: right;
	-ms-flex-pack: right;
		justify-content: right;
	-webkit-box-align: center;
	-ms-flex-align: center;
		align-items: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.h3-title {
    margin: 0 0 15px;
    font-size: calc(22px + 6 * ((100vw - 320px) / (928 - 320)));
    line-height: 40px;
    font-weight: 500;
}

.colored {
	color: #288be6;	
	-webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.button {
    padding: 6px 20px;
    display: inline-block;
    min-height: 44px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #288be6;
    color: #ffffff;
    font: inherit;
    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: #0769c3;
    -webkit-box-shadow: 0 5px 10px 0 #0769c3;
            box-shadow: 0 5px 10px 0 #0769c3;
}

.button:active {
    opacity: 0.5;
}

.fullheight-container {
	min-height: 100vh;
	background: #f2f4f6 url("../img/hero-bg.jpg") top center / cover no-repeat;
}

.page-header {
    max-width: 100%; 
}

.page-header_margin-padding {
    margin: 0 0 155px;
    padding: 30px 0 30px;
}

.page-header__email,
.page-header__phone {
    margin-left: 56px;
    padding: 10px 20px;
    font-weight: 600;
    color: #288be6;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	 white-space: nowrap;
}

.page-header__email:hover,
.page-header__phone:hover {
    color: #000000;    
}

.page-header__email:active,
.page-header__phone:active {
    color: #000000;
    opacity: 0.5;
}

.page-header__email {
    padding-left: 30px;
    background-image: url("../img/icon-email-header.svg");
}

.page-header__phone {
    padding-left: 25px;
    background-image: url("../img/icon-phone-header.svg");
}

.promo {	 	
    text-align: center;
    position: relative;    
}

.promo_margin {
    margin-bottom: 200px;
}

.promo__title {
    margin: 0 0 16px;
    font-family: "Times", "Times New Roman", serif;
    font-size: calc(48px + 20 * ((100vw - 320px) / (928 - 320)));
    line-height: calc(46px + 20 * ((100vw - 320px) / (928 - 320)));
    font-weight: 400;    
}

.promo__text {
    margin: 0;
    font-size: calc(28px + 4 * ((100vw - 320px) / (928 - 320)));
    line-height: 48px;
}

.intro {
    background-color: #f2f4f6;
}

.intro_padding {
    padding: 20px 0 50px;
}

.intro__item-title {
    margin: 0 0 30px 0;
}

.intro__item-text {
    margin: 0 0 15px;
	 font-weight: 500;
}

.intro__item-text:last-of-type {
    margin: 0 0 40px;
}

.intro__item-list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.intro__item-li {
    margin: 0 0 0 20px;
	 font-weight: 500;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.intro__item-li::before {
    content: '✔';
    padding: 0 20px 0 0;
}

.intro__item-li:hover {
    -webkit-transform:  translateX(6%);
        -ms-transform:  translateX(6%);
            transform:  translateX(6%);
    margin: 0 0 0 0;
}

.intro__skills-list {
    margin: 20px 0 0;
    padding: 0;
}

.intro__skill {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px 25px;    
}

.intro__skill_html {
    background-image: url("../img/icon-html.svg");    
}

.intro__skill_css {
    background-image: url("../img/icon-css.svg");
}

.intro__skill_js {
    background-image: url("../img/icon-js.png");
}

.intro__skill_php {
    background-image: url("../img/icon-php.png");
}

.intro__skill-level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;    
}

.intro__skill-width-html,
.intro__skill-width-css,
.intro__skill-width-js,
.intro__skill-width-php {
    margin: 1px;
    height: 12px;
    background-color: #288be6;
    border-radius: 6px; 
    -webkit-animation-name: shine; 
            animation-name: shine;    
    -webkit-animation-iteration-count: infinite;    
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;   
}

@-webkit-keyframes shine {
    0% {
      background-color: #288be6;
    }
    100% {
      background-color: #82c3ff;
      -webkit-box-shadow: inset 
        0 1px rgba(255, 255, 255, 0.09), 
        0px 1px 1px rgba(0, 0, 0, 0.2);
              box-shadow: inset 
        0 1px rgba(255, 255, 255, 0.09), 
        0px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

@keyframes shine {
    0% {
      background-color: #288be6;
    }
    100% {
      background-color: #82c3ff;
      -webkit-box-shadow: inset 
        0 1px rgba(255, 255, 255, 0.09), 
        0px 1px 1px rgba(0, 0, 0, 0.2);
              box-shadow: inset 
        0 1px rgba(255, 255, 255, 0.09), 
        0px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

.intro__skill-width-html {
    width: 99%;   
    -webkit-animation-duration: 1.1s;   
            animation-duration: 1.1s; 
}

.intro__skill-width-css {
    width: 99%;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
}

.intro__skill-width-js {
    width: 60%;
    -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
}

.intro__skill-width-php {
    width: 35%;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
}

.portfolio {
	background-color: #f2f4f6;
}

.portfolio__title {
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: calc(44px + 20 * ((100vw - 320px) / (928 - 320)));
    line-height: 80px;
    font-weight: 400;
    text-align: center;
}

.portfolio__list-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__item {
    margin: 0 0 50px;
}

.portfolio__item-promo {
    width: 100%;
    max-width: 928px;
    max-height: 652px;
    margin: 0 0 24px;
    text-align: center;
    overflow: hidden;
}

.portfolio__item-img {
    width: 100%; 
    height: auto; 
    -webkit-transform: perspective(500px); 
            transform: perspective(500px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;	 
}

.portfolio__item-img:hover {
    -webkit-transform: perspective(500px) rotateY(45deg);
            transform: perspective(500px) rotateY(45deg);
}

.portfolio__item-text {
    margin: 0 0 10px;
	 font-weight: 500;
}

.portfolio__item-text:last-of-type {
    margin: 0 0 25px;
} 

.page-footer {
    background-color: #00417d;
    color: #ffffff;
}

.page-footer_padding {
    padding: 40px 0;
}

.page-footer__email,
.page-footer__phone {   
	 margin-left: 56px; 
    padding: 5px 0 5px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
	 white-space: nowrap;
}

.page-footer__email {
    padding-left: 30px;
    background-image: url("../img/icon-email-footer.svg");
}

.page-footer__phone {	 
    padding-left: 25px;
    background-image: url("../img/icon-phone-footer.svg");
}

.page-footer__email::after,
.page-footer__phone::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.page-footer__email:hover::after,
.page-footer__phone:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page-footer__email:active,
.page-footer__phone:active {
    opacity: 0.5;
}



