@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Black'), local('RisingSun-Black'),
        url('../fonts/RisingSun-Black.woff2') format('woff2'),
        url('../fonts/RisingSun-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun ExtraBold'), local('RisingSun-ExtraBold'),
        url('../fonts/RisingSun-ExtraBold.woff2') format('woff2'),
        url('../fonts/RisingSun-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Bold'), local('RisingSun-Bold'),
        url('../fonts/RisingSun-Bold.woff2') format('woff2'),
        url('../fonts/RisingSun-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RisingSun';
    src: local('RisingSun Semibold'), local('RisingSun-Semibold'),
        url('../fonts/RisingSun-Semibold.woff2') format('woff2'),
        url('../fonts/RisingSun-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Medium'), local('RisingSun-Medium'),
        url('../fonts/RisingSun-Medium.woff2') format('woff2'),
        url('../fonts/RisingSun-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Regular'), local('RisingSun-Regular'),
        url('../fonts/RisingSun-Regular.woff2') format('woff2'),
        url('../fonts/RisingSun-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Light'), local('RisingSun-Light'),
        url('../fonts/RisingSun-Light.woff2') format('woff2'),
        url('../fonts/RisingSun-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun ExtraLight'), local('RisingSun-ExtraLight'),
        url('../fonts/RisingSun-ExtraLight.woff2') format('woff2'),
        url('../fonts/RisingSun-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: local('RisingSun Thin'), local('RisingSun-Thin'),
        url('../fonts/RisingSun-Thin.woff2') format('woff2'),
        url('../fonts/RisingSun-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}




