/*--------------------ANIMATION-------------------*/
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*--------------------BASIC-STYLE-------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.85);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  font-weight: 700;
}
*:not(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-default);
}
h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
h4 {
  font-size: var(--font-h4);
}
h5 {
  font-size: var(--font-h5);
}
h6 {
  font-size: var(--font-h6);
}
.font-h1 {
  font-size: var(--font-h1);
}
.font-big {
  font-size: var(--font-big);
}
.font-medium {
  font-size: var(--font-medium);
}
.font-small {
  font-size: var(--font-small);
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
  font-size: inherit;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  transition: var(--transition);
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*user-select: none; */
}
.plh-bg {
  background-color: var(--slate);
}
.plh-bg * {
  color: inherit;
}
.underline {
  text-decoration: underline;
}
* {
  scrollbar-width: thin; 
  scrollbar-color: var(--main-orange) var(--main-dark-blue); 
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--main-dark-blue);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-orange);
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
/*--------------------FLEX-STYLE-------------------*/
[class*="flex"] {
  display: flex;
}
[class*="-fl_column"] {
  flex-direction: column;
}
[class*="-fl_center"] {
  align-items: center;
  justify-content: center;
}
[class*="-fl_main-cnt"] {
  justify-content: center;
}
[class*="-fl_cross-cnt"] {
  align-items: center;
}
[class*="-fl_main-end"] {
  justify-content: flex-end;
}
[class*="-fl_main-start"] {
  justify-content: flex-start;
}
[class*="-fl_cross-end"] {
  align-items: flex-end;
}
[class*="-fl_between"] {
  justify-content: space-between;
}
[class*="-fl_around"] {
  justify-content: space-around;
}
[class*="-fl_5"] {
  flex-basis: 5%;
}
[class*="-fl_10"] {
  flex-basis: 10%;
}
[class*="-fl_15"] {
  flex-basis: 15%;
}
[class*="-fl_20"] {
  flex-basis: 20%;
}
[class*="-fl_25"] {
  flex-basis: 25%;
}
[class*="-fl_30"] {
  flex-basis: 30%;
}
[class*="-fl_35"] {
  flex-basis: 35%;
}
[class*="-fl_40"] {
  flex-basis: 40%;
}
[class*="-fl_45"] {
  flex-basis: 45%;
}
[class*="-fl_50"] {
  flex-basis: 50%;
}
[class*="-fl_55"] {
  flex-basis: 55%;
}
[class*="-fl_60"] {
  flex-basis: 60%;
}
[class*="-fl_65"] {
  flex-basis: 65%;
}
[class*="-fl_70"] {
  flex-basis: 70%;
}
[class*="-fl_75"] {
  flex-basis: 75%;
}
[class*="-fl_80"] {
  flex-basis: 80%;
}
[class*="-fl_85"] {
  flex-basis: 85%;
}
[class*="-fl_80"] {
  flex-basis: 80%;
}
[class*="-fl_95"] {
  flex-basis: 95%;
}
[class*="-fl_100"] {
  flex-basis: 100%;
}

/*--------------------BUTTON-STYLE-------------------*/
button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font: inherit;
}
button:active,
button:focus {
  outline: none;
  background-color: none;
  border: none;
}
button::-moz-focus-inner {
  border: 0;
}
[class*="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  border-radius: var(--radius-smallest);
}
[class*="button"] span {
  position: relative;
  color: inherit;
  font-size: inherit;
  z-index: 1;
}
[class*="-btn_main"],
[class*="-btn_main"]:active,
[class*="-btn_main"]:focus {
  background-color: var(--main-orange);
  border-radius: var(--radius-smallest);
  color: var(--white);
}
[class*="-btn_primary"],
[class*="-btn_primary"]:active,
[class*="-btn_primary"]:focus {
  background-color: var(--white);
  border: 0.5px solid #121729;
  color:  #2F3842;
}
[class*="-btn_secondary"],
[class*="-btn_secondary"]:active,
[class*="-btn_secondary"]:focus {
  background-color: var(--main-dark-blue);
  outline: 0.5px solid var(--main-dark-blue);
  color: var(--white);
}
[class*="-btn_form"],
[class*="-btn_form"]:active,
[class*="-btn_form"]:focus {
  background-color: var(--main-orange);
  /* border: solid 1px var(--green); */
  color: var(--white);
}
[class*="-btn_basket"],
[class*="-btn_basket"]:active,
[class*="-btn_basket"]:focus {
  background-color: var(--white);
  border-radius: var(--radius-smallest);
  color: var(--main-dark-blue);
  border: 1px solid var(--main-orange);
}
[class*="-btn_success"],
[class*="-btn_success"]:active,
[class*="-btn_success"]:focus {
  background-color: var(--green);
  border: solid 1px var(--green);
  color: var(--white);
}
[class*="-btn_danger"],
[class*="-btn_danger"]:active,
[class*="-btn_danger"]:focus {
  background-color: var(--red);
  border: solid 1px var(--red);
  color: var(--white);
}
[class*="-btn_main"]:hover {
  background-color: var(--main-dark-blue);
  border: 1px solid var(--main-dark-blue);
  border-radius: var(--radius-smallest);
}
[class*="-btn_primary"]:hover {
  background-color: var(--main-orange);
  border: 0.5px solid var(--main-orange);
  color: var(--white);
}
[class*="-btn_secondary"]:hover {
  /* border: solid 1px var(--lite-orange); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.63%, rgba(253, 91, 39, 0.41) 90.66%), #293048;
  color: var(--white);
  transition: var(--transition);
}
[class*="-btn_form"]:hover {
  /* border: solid 1px var(--lite-orange); */
  background-color: var(--main-dark-blue);
  /* color: var(--white); */
}
[class*="-btn_basket"]:hover {
  background-color: var(--main-orange);
  border-radius: var(--radius-smallest);
  color: var(--white);
  border: 1px solid var(--main-orange);
}
[class*="-btn_success"]:hover {
  border: solid 1px var(--lite-green);
  background-color: var(--lite-green);
  color: var(--white);
}
[class*="-btn_danger"]:hover {
  border: solid 1px var(--lite-red);
  background-color: var(--lite-red);
  color: var(--white);
}

/*--------------------MODAL-STYLE-------------------*/
.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  background: var(--modal-bg);
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
  transition: var(--transition);
}
.tingle-modal.tingle-modal--visible .tingle-modal-box {
  opacity: 1;
  visibility: visible;
}
.tingle-modal .tingle-modal-box {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}
.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}
.tingle-modal--noOverlayClose {
  cursor: default;
}
.tingle-modal--noClose .tingle-modal__close {
  display: none;
}
.tingle-modal__close {
  position: fixed;
  z-index: 1000;
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}
.tingle-modal__closeIcon {
  transition: var(--transition);
}
.tingle-modal__close svg * {
  fill: var(--modal-close);
}
.tingle-modal__close:hover svg * {
  fill: var(--main-orange);
}
.tingle-modal__closeLabel {
  display: none;
}
.tingle-modal__close:hover {
  color: var(--modal-close-hover);
}
.tingle-modal-box {
  position: relative;
  flex-shrink: 0;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
}
.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}
.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}
.tingle-modal--visible .tingle-modal-box {
  animation: scale .3s cubic-bezier(.68, -.55, .265, 1.55) forwards;
}
.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}
.tingle-modal-box__content {
  box-shadow: var(--box-shadow1);
  background: var(--modal-box-content);
  border-radius: var(--radius-mini);
}
/*--------------------POPUP-------------------*/
.popup {
  position: relative;
  width: auto;
  margin: auto;
  display: none;
  transition: var(--transition);
}

.tingle-modal .popup {
  display: flex;
}

.popup-title {
  text-align: center;
}

/*--------------------TOOLTIP-STYLE-------------------*/
[class*="tooltip-"] {
  position: absolute;
  box-shadow: var(--box-shadow1);
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  border-radius: var(--radius-small);
  width: 100%;
}
/* [class*="tooltip-"] span {
  font-size: var(--font-small);
} */
/* [class*="tooltip-"]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
} */
/* .tooltip-left:before {
  border-right: 7px solid var(--white);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.tooltip-right:before {
  border-left: 7px solid var(--white);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.tooltip-bottom:before,
.tooltip-checkbox:before {
  border-bottom: 7px solid var(--white);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tooltip-top:before {
  border-top: 7px solid var(--white);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
} */
[class*="tooltip-"] span.warning {
  background-color: var(--red);
  border-radius: 50%;
  flex-shrink: 0;
}
[class*="tooltip-"] span.warning svg {
  fill: var(--white);
  width: 50%;
  height: 50%;
}
.tooltip-visibile {
  opacity: 1;
  visibility: visible;
  animation: scale .3s cubic-bezier(.68, -.55, .265, 1.55) forwards;
  z-index: 300;
}

/*--------------------FORM-STYLE-------------------*/
input,
textarea,
select {
  font: inherit;
  border: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  border: none;
}

:focus {
  outline: -webkit-focus-ring-color none;
}

.form-field {
  position: relative;
  width: 100%;
}

.form-input,
.form-textarea,
.form-input:focus,
.form-textarea:focus {
  background: var(--white);
	border: 0.5px solid var(--main-dark-blue);
	color: var(--main-dark-blue);
  border-radius: var(--radius-smallest);
}

::-webkit-input-placeholder,
::-moz-placeholder {
  opacity: 1;
}

:focus::-webkit-input-placeholder,
:focus::-moz-placeholder {
  opacity: 0;
}

.form-policy * {
  font-size: var(--font-small);
  color: #2F3842;
}

/* -----------------------SPLIDER---------------------- */
@keyframes splide-loading {
  0% {
      transform: rotate(0)
  }
  to {
      transform: rotate(1turn)
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.splide__track--fade>.splide__list {
  display: block
}
.splide__track--fade>.splide__list>.splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0
}
.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1
}
.splide--rtl {
  direction: rtl
}
.splide__track--ttb>.splide__list {
  display: block
}
.splide__container {
  box-sizing: border-box;
  position: relative
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important
}
.splide.is-initialized:not(.is-active) .splide__list {
  /* display: block; */
  display: flex;
}
.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}
.splide__progress__bar {
  width: 0
}
.splide {
  position: relative;
  visibility: hidden
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative
}
.splide__slide img {
  vertical-align: bottom
}
.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}
.splide__track {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
}